body {
    font-family: Arial, sans-serif;
    background-color: #c1fdb5;
    background-image: url(./sign.in.background1.png);
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

.container {
    background-color: rgb(202, 162, 110);
    position: relative;
    
    z-index: 1;
    width: 320px;
    margin: 100px;
    padding: 50px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: px 0px 110px 32px rgba(0,0,0,0.2);
    text-align: center;
}

h2 {
    color: #333333;
}

form {
    text-align: left;
}

label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #7982ff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #a490ff;
}

p {
    margin-top: 10px;
}

a {
    text-decoration: none;
    color: #4c00ff;
}
